@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;500;700&display=swap');
.product-details__container, .product-image__container{
    display: flex;
    justify-content: center;
}
.product-image__container, .product-information{
    margin: 20px 0;
}

.product-image__container{
    width: 50%;
    height: 400px;
}

.product-image__container img{
    margin-top: 30px;
}

.product-information{
    width: 50%;
    margin-right: 20px;
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding: 15px;
}

.product-information{
    font-family: 'Open Sans', sans-serif;
}

.product-information h1{
    font-weight: 500;
}


.price-and-discount__details{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-weight: 200;
}

.price-and-discount__details div{
    margin: 10px 0;
}

.price-and-discount__details sup{
    font-size: 25px;
    margin-right: 1px;
}

.product-price{
    font-size: 40px;
    font-weight: 500;
    margin-right: 15px;
}

.product-discount{
    color: rgb(219, 44, 44);
    font-size: 20px;
}

.product-mrp{
    color: rgb(112, 112, 112);
}

.product-mrp span{
    text-decoration: line-through;
}

.savings{
    font-weight: 500;
}

.delivery-details label{
    color: #0066c0;
    font-weight: 500;
}

.btn{
    width: 150px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
}

.buy-now{
    background-color: #ff941a;
    margin-right: 8px;
}

.buy-now:hover{
    background-color: #e87d03;
}

.add-to-cart{
    background-color: #ffc42f;
}

.add-to-cart:hover{
    background-color: #efab00;
}